app.name=Monthly Report
app.version=1.0
app.dbURL=jdbc\:sqlserver\://localhost; databasename\=ASNBAgentSales
app.user=sa
app.password=password
app.month=
app.year=
app.output=C\:/demo
app.agentCode=MBB

#01=Variable Price Fund
#02=Fixed Price Fund
app.transactionCode=02

#01 Financial Executive and LG Sales Transaction
#02 Valid Data for Financial Executive and LG Sales Transaction
#03 Invalid Data for Financial Executive and LG Sales Transaction
#04 Validation Error File
#05 Summary of Financial Executive

#01 Financial Executive and LG Sales Transaction
#02 Valid Data for Financial Executive and LG Sales Transaction
#03 Invalid Data for Financial Executive and LG Sales Transaction
#04 Validation Error File
#05 Summary of Financial Executive and LG Sales Transaction
app.subTransactionCode=01

#D=Daily
#M=Monthly
app.frequency=M

